<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cd.workreminder">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CurrentWeekSchedule"
            android:label="@string/app_name">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HourFormat"
            android:label="@string/app_name">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkPreferences"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Logout"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Added on 10 - 28 - 2019 -->
        <service
            android:name=".AlarmIntentService"
            android:exported="false"></service>

        <activity
            android:name=".AlarmTimer"
            android:label="@string/app_name">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".WorkAlarmReceiver"
            android:exported="true">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </receiver>

        <activity android:name=".RememberMe" />
        <activity android:name=".AlarmNotificationMainActivity"></activity>


        <activity
            android:name=".DaySunday"
            android:label="@string/app_name">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DayMonday"
            android:label="@string/app_name">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DayTuesday"
            android:label="@string/app_name">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DayWednesday"
            android:label="@string/app_name">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DayThursday"
            android:label="@string/app_name">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DayFriday"
            android:label="@string/app_name">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DaySaturday"
            android:label="@string/app_name">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SoundService"
            android:label="@string/app_name">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>